<table class="table table-bordered">
  <thead>
    <tr>
      <th>Chức danh</th>
      <th>Tên bác sĩ</th>
      <th>Bệnh viện</th>
      <th>Địa chỉ bệnh viện</th>
      <th>Số người đang chờ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Bác sỹ đa khoa", show_clinics_path %></td>
      <td>Bùi Tiến Đô</td>
      <td>do@gmail.com</td>
      <td>Hà Đông</td>
      <td>7</td>
    </tr>
    <tr>
      <td><%= link_to "Bác sỹ đa khoa", show_clinics_path %>
      <td>Đỗ Thị nhung</td>
      <td>cuong@gmail.com</td>
      <td>Hà Đông</td>
      <td>6</td>
    </tr>
    <tr>
      <td><%= link_to "Bác sỹ thú y", show_clinics_path %>
      <td>Lê Thị Thơm</td>
      <td>thom@gmail.com</td>
      <td>Hoàng Mai</td>
      <td>6</td>
    </tr>
    <tr>
      <td><%= link_to "Bác sỹ nha khoa", show_clinics_path %>
      <td>Đinh Thị Phương Anh</td>
      <td>anh@gmail.com</td>
      <td>Hoàng Mai</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
