<table class="table table-bordered">
  <thead>
    <tr>
      <th>Chức danh</th>
      <th>Bác sỹ đa khoa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Tên bác sĩ</th>
      <td>Bùi Tiến Đô</td>
    </tr>
    <tr>
      <th>Bệnh viện</th>
      <td>Hà Đông</td>
    </tr>
    <tr>
      <th>Số người đang chờ</th>
      <td>9</td>
    </tr>
  </tbody>
</table>
